*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width:800px ;
    background-color: rgb(253, 236, 239);
    margin: auto;
    border-radius: 40px;
}
 main{
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(255, 210, 218);
    position:sticky;
    top: 0px;
}

.conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    width:250px;
    height: 250px;
    background-color:rgb(255, 210, 218) ;
    border-radius: 20px;
}
.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.again-logo{
    height: 100%;
    width: 100%;
}
.veritcal{
    height: 100%;
    width: 7px;  
    border: none;
    outline: none;
    border-radius: 10px;
    border-left: 2px dashed yellow;
    background-color: rgb(254, 103, 114);
    margin: 0;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height:18vh ;
    padding-top: 10px;
    max-width: 1200px;
}

nav{
background-color: rgb(255, 210, 218);
}
.name-img{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
.horizontal{
    height: 7px;
    background-color: rgb(254, 103, 114);
    border: none;
    outline: none;
    border-radius: 10px;
    border-top: 2px dashed yellow ;
    width: 100%; 
    margin: 0px 0;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.box02{
    border-radius:0px 20px 0px 0px ;
}
.box00{
    border-radius:20px 0px 0px 0px ;
}
.box22{
    border-radius:0px 0px 20px 0px ;
}
.box20{
    border-radius:0px 0px 0px 20px ;
}
button{
    background-color: rgb(254, 103, 114);
    outline: none;
    border: none;
    height: 4.6rem;
    align-content: center;
    border: none;
    outline: none;
    width: 90%;
}
.image-cross{
    background-color: ;
    height: 50%;
    width: 50%;
    animation: crossmove .2s  linear forwards ;
}
@keyframes crossmove{
    
    0% { transform: scale(0); } 
    100% { transform: scale(1); } 
}

.image-circle{
    height: 82%;
    width: 82%;
    animation: move .15s linear forwards;
}
@keyframes move {
    
    0% { transform: scale(0); } 
    100% { transform: scale(1); } 

}

.redo{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: fit-content;
} 

.again-button{
    height: 50px;
    text-wrap:wrap;
    color: rgb(243, 73, 84);
    width: 9.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    background-color: rgb(249, 212, 89);
    border: none;

}

.result-container{
    padding-bottom: 2rem;
}
.result{
    font-size: 2rem;
    color:rgb(255, 227, 192);
}
